*.apk
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/dictionaries
/.idea/libraries
/.idea/markdown-exported-files.xml
.DS_Store
/build
/captures
.externalNativeBuild

# TODO: Figure out why Prototypes/typescript_in_webview/.gitignore is being ignored.
Prototypes/typescript_in_webview/app/src/main/assets/test_fns.js.map
Prototypes/typescript_in_webview/local.properties
Prototypes/typescript_in_webview/node_modules/
